.container
  width: 1140px
  margin: 0 auto
  text-align: center

.b-nav

  .b-nav__menu
    padding: 0
    line-height: 100px
    height: 100px


    .b-nav__li
      display: inline-block
      padding: 0 10px

    .b-nav__a
      color: #a9a9a9
      font-size: 12px
      letter-spacing: 1px
      font-weight: 400
      display: block
      line-height: 4px
      text-decoration: none
      font-family: OpenSans-Light, sans-serif


.b-nav__logo

  img
    outline: 1px solid red
    opacity: 1

.b-nav__btn

  &-message,
  &-login
    border: 0
    height: 30px
    width: 30px
    border-radius: 3px

  &-message
    background: #5ea4f2

  &-login
    background: #45b161