.b-nav
  position: relative
  margin: 0 auto
  text-align: center
  background: rgb(255, 255, 255)
  z-index: 3
  border-bottom: 3px solid #2173bc
  overflow: hidden

  &__logo
    display: block
    float: left
    padding: 25px 0 0 20px

  &__menu
    padding: 0
    margin: 0 0 0 80px
    line-height: 100px
    height: 100px
    float: left

  &__li
    display: inline-block
    padding: 0 6px

  &__a
    color: #a9a9a9
    font-size: 12px
    letter-spacing: 1px
    font-weight: 600
    display: block
    text-decoration: none
    font-family: OpenSans-Light, sans-serif

.b-nav__btns
  float: left
  margin: 35px 20px 0 20px

.b-nav__btn

  &-message,
  &-login
    border: 0
    height: 30px
    width: 30px
    border-radius: 3px

  &-message
    background: #5ea4f2

  &-login
    background: #45b161
